<div class="row">
  <h1>Items</h1>
</div>

<section class="item-grid">
  <div class="item">
    <a href="/projects">
      Projects
    </a>
  </div>
  <div class="item">
    <a href="/ma">
      None
    </a>
  </div>
  <div class="item">
    <a href="/projects">
      None
    </a>
  </div>
</section>
