<div class="row">
  <h1>Homepage</h1>
</div>

<section class="item-grid">
  <div class="item">
    <a href="/homepage/projects">
      Projects
    </a>
  </div>
</section>

<div class="row">
  <h1>School</h1>
</div>

<section class="item-grid">
  <div class="item">
    <a href="/school/subjects">
      Subjects
    </a>
  </div>
  <div class="item">
    <a href="/school/exams">
      Exams
    </a>
  </div>
</section>